@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&family=Quattrocento:wght@700&display=swap');

:root {
    --color-main:#fcf8e0;
    --color-header: #dc9750;
    --color-border: #e9d8a8;
    --color-text: #575148;
    --color-text-hover: #2298d8;
    --header-color-text: #503d2a;
    --color-hover: #fabf85;
    --headline-font: 'Quattrocento', serif;
    --content-font: 'Roboto', sans-serif;
}
* {
    font-family: var(--content-font);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    background-color: 	var(--color-header);
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
    position: fixed;
    height: 59px;
}
.header a {
    color: var(--color-main);
    font-size: 16px;
}
.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: var(--color-header);
    font-size: 15px;
}
.header li a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
}
.header li a:hover,
.header .menu-btn:hover {
    color: var(--color-text-hover);
    background-color: var(--color-main);
    transition: .15s ease-in-out;
}
.header .logo {
    display: block;
    float: left;
    padding: 14px 20px 10px;
    text-decoration: none;
    font-family: var(--headline-font);
    font-size: 29px;
    font-weight: bolder;
    text-transform: uppercase;
}
.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}
.header .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
.header .menu-icon .navicon {
    background: var(--color-main);
    display: block;
    height: 2px;
    position: relative;
    transition: background .1s ease-out;
    width: 18px;
}
.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: var(--color-main);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .3s ease-out;
    width: 100%;
}   
.header .menu-icon .navicon:before {
    top: 5px;
}
.header .menu-icon .navicon:after {
    top: -5px;
}
.header .menu-btn {
    display: none;
}
.header .menu-btn:checked ~ .menu {
    max-height: 500px;
}
.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}
.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}
.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}
@media (min-width: 81em) {
    .header li {
    float: left;
    }
    .header li a {
    padding: 20px 30px;
    }
    .header .menu {
    clear: none;
    float: right;
    max-height: none;
    }
    .header .menu-icon {
    display: none;
    }
}
body {
    background: var(--color-main);
}
h1 {
    font-size: 22px;
    font-family: var(--headline-font);
    text-align: center;
    padding: 10px;
}

h2 {
    font-size: 18px;
    font-family: var(--headline-font);
    text-align: center;
    padding: 10px;
}
p {
    text-align: justify;
    padding: 4px;
}
.content {
    padding: 60px 30px;
    color: var(--color-text);
    font-size: 14px;
}
.content a {
    font-weight: bold;
    color: var(--color-text);
}
.img-source {
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-source a {
    text-decoration: underline;
    font-weight: normal;
}
.img-source p {
    font-size: small;
    text-align: left;
    padding: 0px 0px 20px;
}
.map {
    display: flex;
    justify-content: center;
    align-items: center;
}
.map img {
    padding: 15px 10px 10px 10px;
    width: 400px;
}
.quote p {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}
.content ul li {
    padding: 5px;
    margin-left: 20px;
}
table {
    padding: 15px 0px;
    width: auto;
    overflow-x: auto;
    display: block;
}
.content th {
    font-size: 16px;
    color: var(--color-main);
    background-color: var(--color-header);
}
.content td {
    font-size: 15px;
}
.content th, td {
    padding: 10px;
    border: 1px solid var(--color-border);
}
.content table {
    border: none;
}
.content table, th, td {
    border-collapse: collapse;
}
.table-header {
    text-align: left;
}
.no-border table {
    width: auto;
    border: none;
}
.no-border td {
    border: none;
    padding-left: 50px;
    padding-right: 50px;
}
.chp-switcher {
    padding-top: 25px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.chp-switcher a {
    text-decoration: none;
}
.chp-switcher a button {
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    background-color: var(--color-header);
    color: var(--color-main);
    padding: 12px;
}
.chp-switcher a button:active {
    background-color: var(--color-hover);
}
.chp-switcher a button:hover{
    background-color: var(--color-hover);
    transition: .3s ease-in-out;
}
.footer {
    color: var(--header-color-text);
    background-color: var(--color-header);
    width: 100%;
    padding: 35px;
    display: flex;
    justify-content: center;
}
.footer a {
    color: var(--header-color-text);
    text-decoration: none;
}
/*mobile*/
@media only screen and (max-width: 640px) {
    .map img {
    width: 100%;
    }
}

/*Recreated with <3 by Izarra*/
