@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    src: url(fonts/Merriweather.ttf) format('ttf');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    src: url(fonts/OpenSans.ttf) format('ttf');
}
:root {
    --color-main:#f3eac0;
    --color-header: #dc9750;
    --color-border: #ddd19d;
    --color-text: #575148;
    --headline-font: 'Merriweather', serif;
    --content-font: 'Open Sans', sans-serif;
}
* {
    font-family: var(--content-font);
}
.header {
    background-color: 	var(--color-header);
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
    position: fixed;
    margin-top: -8px;
    margin-left: -8px;
}
.header a {
    color: var(--color-main);
    font-size: 16px;
}
.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: var(--color-header);
    font-size: 15px;
}
.header li a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
}
.header li a:hover,
.header .menu-btn:hover {
    color: var(--color-header);
    background-color: var(--color-main);
}
.header .logo {
    display: block;
    float: left;
    padding: 13px 20px;
    text-decoration: none;
    font-family: var(--headline-font);
    font-size: 27px;
    font-weight: 900;
    text-transform: uppercase;
}
.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}
.header .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
.header .menu-icon .navicon {
    background: var(--color-main);
    display: block;
    height: 2px;
    position: relative;
    transition: background .1s ease-out;
    width: 18px;
}
.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: var(--color-main);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .3s ease-out;
    width: 100%;
}   
.header .menu-icon .navicon:before {
    top: 5px;
}
.header .menu-icon .navicon:after {
    top: -5px;
}
.header .menu-btn {
    display: none;
}
.header .menu-btn:checked ~ .menu {
    max-height: 500px;
}
.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}
.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}
.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}
@media (min-width: 85em) {
    .header li {
    float: left;
    }
    .header li a {
    padding: 20px 30px;
    }
    .header .menu {
    clear: none;
    float: right;
    max-height: none;
    }
    .header .menu-icon {
    display: none;
    }
}
body {
    background: var(--color-main);
}
h1 {
    font-size: 22px;
    font-family: var(--headline-font);
    text-align: center;
}

h2 {
    font-size: 16px;
    font-family: var(--headline-font);
    text-align: center;
}
p {
    text-align: justify;
}
.content {
    padding: 10px;
    color: var(--color-text);
    font-size: 14px;
}
.content a {
    font-weight: bold;
    color: var(--color-text);
}
.img-container p {
    text-align: center;
}
.img-container img{
    display: block;
    margin-left: auto;
    margin-right: auto;  
}
.quote p {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}
table {
    width: auto;
}
.content th {
    font-size: 16px;
    color: var(--color-main);
    background-color: var(--color-header);
}
.content td {
    font-size: 15px;
}
.content th, td {
    padding: 10px;
}
.content table, th, td {
    border: 1px solid var(--color-border);
    border-collapse: separate;
}
.table-header {
    text-align: left;
}
.no-border table {
    width: auto;
    border: none;
}
.no-border td {
    border: none;
    padding-left: 50px;
    padding-right: 50px;
}
.chp-switcher {
    padding-top: 50px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.chp-switcher a {
    text-decoration: none;
}
/*Recreated with <3 by Izarra*/
